* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #70e1f5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffd194, #70e1f5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffd194, #70e1f5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    font-size: 92px;
    line-height: 100px;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.description {
    font-size: 19px;
}